#Java classes#
bin/
*.class

#Java libraries#

#Java Packages#
src/Sample/
*.jar

#Folders#
StanfordCoreNLP/

#NetBeans specific#
/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb.configuration.xml

#eclipse #
.settings/